/* colors */
/* 
    iconos: #8e8e8e;
    botones: #e60023;
    background buscador: #efefef;
    background hover: #f0f0f0;
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

header {
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  outline: 1.5px solid #f0f0f0;
}

i {
  color: red;
}

nav {
  padding: 10px 0;
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
}

nav i {
  font-size: 30px;
  color: #e60023;
  margin: 0px 10px;
  padding: 10px;
}

nav i:hover {
  cursor: pointer;
  background: #f0f0f0;
  border-radius: 50%;
}

.input-search {
  margin-bottom: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #efefef;
  width: 100%;
}

.input-search i {
  font-size: 20px;
  color: #8e8e8e;
  margin: 0px;
  padding: 10px;
}

.input-search i:hover {
  cursor: auto;
  background: none;
  border-radius: 0;
}

.input-search input {
  padding: 8px 0px;
  background: #efefef;
  border: none;
  outline: none;
  max-width: 80%;
  width: 90%;
}

.fancy-nav {
  overflow: hidden;
}

nav > div.fancy-nav {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.fancy-nav li {
  list-style: none;
  width: 100px;
  float: left;
  text-align: center;
  margin: 0 4px;
}

.fancy-nav li a {
  font-weight: 700;
  text-decoration: none;
  color: #8e8e8e;
  display: block;
  padding: 10px;
}

.fancy-nav li a:hover {
  background: #efefef;
  border-radius: 30px;
}

.fancy-nav li :nth-child(4) {
  margin: 0;
}

i.fas.fa-grip-lines-vertical {
  color: #efefef;
  padding: 10px 0;
}

i.fas.fa-grip-lines-vertical:hover {
  background: none;
  cursor: auto;
}

.fancy-nav li i {
  font-size: 25px;
  color: #8e8e8e;
  margin: 0px;
  padding: 10px;
}

.wrapper {
  padding-top: 70px;
  margin: auto;
  overflow: hidden;
}

/* others */
.blocks {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.blocks__list {
  display: inline-flexbox; 
  flex-wrap: wrap;
  padding: 0;
  text-align: center;

  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
}

.blocks__desc {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(104, 101, 101, 0.164);
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  border-radius: 20px;

  list-style: none;  
}

.fancy-btn {
    height: fit-content;
    width: 100%;
    display: flex;
}

.btn-save {
    justify-content: flex-end;
    padding: 14px;
}

.btn-save button {
    color: #fff;
    background: #e60023;

    padding: 6px 18px;
    border-radius: 15px;
    border: none;
    font-size: 14px;    
}

.btn-save button:hover {
    background: #a70f26;
}

.btn-opt {
    justify-content: space-evenly;
    position: absolute;
    top: auto;
    bottom: 12px;
}

.btn-opt button {
    border-radius: 20px;
    border: none;
}

.btn-opt button:hover {
    background: #ece8e8;
}

.btn-opt button:hover i {
    background: #ece8e8;
}

.btn-opt button i {
    color: #000;
    background: #efefef;
    padding: 7px 3px;
    border-radius: 20px;
}


.blocks__item {
  padding: 0;
  position: relative;

  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.blocks__item:hover .blocks__desc {
  opacity: 1;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  height: 100%;
}

.blocks__img {
  font-size: 1.2em;
  text-align: center;
  width: 100%;
}

.blocks__img img {
  max-width: 100%;
  width: 100%;
  border-radius: 20px;
}


@media (max-width: 1200px) {
  .fancy-grid-pinterest {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .blocks__list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    margin-left: 20px;
    margin-right: 20px;
  }

}

@media (max-width: 991px) {
  .input-search {
    width: 50%;
  }

  .grid-pinterest {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .blocks__list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    margin-left: 20px;
    margin-right: 20px;
  }

}

@media (max-width: 768px) {
  .input-search {
    width: 100%;
  }

  .input-search input {
    width: 70%;
  }

  .fancy-grid-pinterest {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .blocks__list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    margin-left: 20px;
    margin-right: 20px;
  }
}
